<%= form_for @island, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :destination_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:destination_id, options_from_collection_for_select(@destinations, 'id', 'name')) %>
    </div>
  </div>

    <div class="control-group">
      <% f.fields_for :hotels do |builder| %>
        <p><%= builder.label :content, 'Hotel' %></p>
      <% end %>
    </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                destinations_path, :class => 'btn' %>
  </div>
<% end %>
