<div class="row">
  <div id="promo-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% slideCounter = 0 %>
      <% @promos.each do |promo| %>
          <li data-target="#promo-carousel" data-slide-to="<%= slideCounter %>"
              class="<%= slideCounter == 0 ? 'active' : '' %>"></li>
          <% slideCounter += 1 %>
      <% end %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% slideCounter = 0 %>
      <% @promos.each do |promo| %>

          <div class="item <%= slideCounter == 0 ? 'active' : '' %>">
            <img src="http://i2.cdn.turner.com/cnn/dam/assets/130530161523-100-beaches-crane-beach-horizontal-gallery.jpg"
                 alt="<%= promo.description %>" class="carousel-img">

            <div class="carousel-caption">
              <%= promo.description %>
            </div>
          </div>
          <% slideCounter += 1 %>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#promo-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#promo-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>