<div class="row-fluid">
  <% if admin_signed_in? %>
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">Sidebar</li>
            <li><%= link_to "Destinations", destinations_path %></li>
            <li><%= link_to "Islands", islands_path %></li>
            <li><%= link_to "Hotels", hotels_path %></li>
            <li><%= link_to "Referral Links", referral_links_path %></li>
            <li><%= link_to "Promos", promos_path %></li>
          </ul>
        </div>
        <!--/.well -->
      </div>
      <!--/span-->
  <% end %>
  <div class="span9">
    <h1>HOME!!</h1>

    <%= admin_signed_in? %>
  </div>
</div>