<div id="main-image">
  <div class="tags">
    <div class="tagline pull-left">
      Paradise is calling
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row push-down">
    <div class="col-md-6 col-md-offset-3 text-center">
      <div class="lead">We are here to help you plan your perfect honeymoon!</div>
      <div class="taglink">
        <%= link_to("Explore destinations today", destinations_path) %></div>
    </div>
  </div>

    <%= render 'home/promo_carousel' %>

  <div class="row" id="windows">
    <div class="col-md-4 col-sm-4 pane">
      <div class="">
        <h2>Destinations</h2>
        <a href="<%= destinations_path %>"><%= image_tag("destinations.jpg", :class=>"img-thumbnail") %></a>
        <p>Explore what we have to offer and more!</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 pane">
      <div class="">
        <h2>Promotions</h2>
        <a href="<%= promos_path %>"><%= image_tag("promos.jpg", :class=>"img-thumbnail") %></a>
        <p>Check out current offers and promotions</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 pane">
      <div class="">
        <h2>Book Today</h2>
        <a href="<%= contact_path %>"><%= image_tag("book_today.jpg", :class=>"img-thumbnail") %></a>
        <p>Let us help book your perfect honeymoon!</p>
      </div>
    </div>
  </div>
</div>