<%= form_for @contact, url: new_contact_path, method: "post", :html => {id: "contact_form"} do |f| %>
  
  <div class="form-group">
      <%= label_tag "name" %>
      <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag "phone" %>
      <%= f.phone_field :phone, placeholder: "Phone", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag "name", "Email address" %>
      <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
    </div>
      <div class="form-group">
      <%= label_tag "occasion", "Occasion for travel" %>
      <%= f.text_field :occasion, placeholder: "Occasion", class: "form-control" %>
      </div>
  <div class="form-group">
      <%= label_tag "locations", "Locations of interest" %>
     <% @destinations.each do |d| %>
     <div class="checkbox">
        <%= check_box_tag "contact[locations][]", d.name, false, id: "contact_locations_"+d.name %>
        <%= label_tag "contact_locations_"+d.name, d.name %>
    </div>
      <% end %>
    <div class="checkbox">
        <input id="contact_locations_other" name="contact[locations][]" type="checkbox" value="Other">
        <label for="contact_locations_other">Other</label>
    </div>
  </div>
    <%= f.submit "Submit", class: "btn btn-default" %>


<% end %>

