<div class="jumbotron destination_jumbo">
  <div class="container">
    <h1 class="tagline"><%= @destination.name %></h1>
  </div>
</div>

<div class="container">
    <div class="tile_row">
      <% @islands.each do |island| %>

          <%= tag "div", :class=>"tile" %>

            <div class="tile_image">

              <%= image_tag("islands.jpg") %>
            </div>

            <div class="well tile_caption">
              <span><%= island.name %></span>
              <%= link_to content_tag("button", "Read More", :class=>"btn btn-success btn-xs pull-right"), island_path(island) %>
            </div>

          </div>


      <% end %>
    </div>
</div>