<%- model_class = Destination -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @destination.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:path) %>:</strong></dt>
  <dd><%= @destination.path %></dd>
  <dt><strong><%= model_class.human_attribute_name(:islands) %>:</strong></dt>
  <dt><strong><%= model_class.human_attribute_name(:hotels) %>:</strong></dt>
  <dd>
    <%= if @destination.islands.count == 0; 'None' end %>
    <% @destination.islands.each do |island| %>
        <%= link_to island.name, island_path(island) %>
    <% end %>
  </dd>
  <dd>
    <%= if @destination.hotels.count == 0; 'None' end %>
    <% @destination.hotels.each do |hotel| %>
        <%= link_to hotel.name, hotel_path(hotel) %>
    <% end %>
  </dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              destinations_all_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_destination_path(@destination), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              destination_path(@destination),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
